body {
  margin: 0;
  padding: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
  background-color: rgb(33, 33, 33);
  height: 100%;
 
  margin: 0 auto;
  padding: 0 auto;
}

h1{
  text-align: center;
  color: aliceblue;
}

.container{
  margin: 0 auto;
  width: 90%;
  height: 90%;
  max-width: 18rem;
  height: 18rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: .3rem;
  
}

.card{
  background-color: rgb(0, 140, 255);
  border-radius: 5px;

  animation: 2s hideCard linear;
}

img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* transform: scale(0); */
  opacity: 0;
  animation: 2s hideImage linear;
}



.card.active{
  transform: rotateY(0);
}

.card.active img{
  opacity: 1;
}

.unmatch{
    background-color: rgb(240, 28, 28);
    border-radius: 5px;
    animation: 2s hideCard linear;
}

@keyframes hideCard {
  0%, 70%{
    transform: rotateX(0deg);
  }100%{
    transform: rotateX(180deg);
  }
}

@keyframes hideImage {
  0%, 84%{
    opacity: 1;
  }85%{
    opacity: 0;
  }
}